// media
$screen-max-width: var(--screen-max-width);
$screen-min-width: var(--screen-min-width);
$desktop: 1280px;
$tablets-big: 960px;
$tablets: 768px;
$phones: 460px;

//font
$font: var(--font);
//// primary colors
$main-color: var(--c-cell-black);
$secondary-color: var(--c-cell-white);
// text color
$text-1: var(--c-text-1);

// bg color
$bg: var(--bg);
$bg-mute: var(--bg-mute);

//// board
// board settings
$board-border-width: 1px;

//// cell
// cell color
$cell-black: $main-color;
$cell-white: $secondary-color;
// cell size
$cell-size: 10vw;

/* z-index */
$z-index-local-nav: 10;
$z-index-nav: 20;
$z-index-banner: 30;
$z-index-backdrop: 40;
$z-index-sidebar: 50;